name: build

on: [push, pull_request]
  
jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [linux]
        include:
          - build: linux
            os: ubuntu-20.04
            rust: nightly
            target: x86_64-unknown-linux-musl
            archive-name: processforlinux-linux.tar.gz

      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Rust
        uses: docker://clux/muslrust:stable
        with:
          args: cargo install cargo-strip
      - name: Build binary
        run: sudo apt install libdbus-1-dev pkg-config && cargo build --verbose --release
        
      - name: Strip binary (linux )
        if: matrix.build == 'linux'
        run: pwd && strip "target/release/processforlinux"

      - name: Build archive
        shell: bash
        run: |
          mkdir archive
          cp LICENSE README.md archive/
          cd archive
            cp "../target/${{ matrix.target }}/release/processforlinux" ./
            tar -czf "${{ matrix.archive-name }}" LICENSE README.md processforlinux
      - name: Upload archive
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.archive-name }}
          path: archive/${{ matrix.archive-name }}
